/* Empty. Add your own CSS if you like */

.round-button {
    border-radius: 50px;
    width:120px; /*same as the height*/
    height:120px; /*same as the width*/
}

.center-button{
    margin-left: 95px;
}

.set-button {
    width: 5px;
    height: 5px;
}